/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@700&family=PT+Sans:wght@400;700&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=PT+Sans:wght@400;700&display=swap');

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/BebasNeueBold.ttf") format("ttf");
  src: url("./assets/fonts/BebasNeueBold.woff") format("woff");
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.serialsFunBody {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: #181818;
  padding-bottom: 70px;
}

.serialsFunContainer {
  max-width: 1023px;
  padding: 0 12px 0 12px;
}

.serialsFunHeader {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serialsFunLeftBlock {
  display: flex;
  align-items: center;
  gap: 51px;
}

.serialsFunLogo {
  width: 146px;
  height: 33px;
  border: 1px solid #FF1292;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.serialsFunLogoText {
  color: #FF1292;
  text-align: center;
  font-family: Fira Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.serialsFunSaveApp {
  color: #FFF;
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.serialsFunRightBlock {
  display: flex;
  align-items: center;
  gap: 25px;
}

.serialsFunSaveBtnsTitle {
  color: #828282;
  text-align: right;
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.serialsFunSaveBtnsContainer {
  display: flex;
  gap: 13px;
  align-items: center;
}

.serialsFunSaveBtn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF1292;
  cursor: pointer;
}

.serialsFunSaveBtn:hover {
  background: #FF1292;
}

.serialsFunSaveBtn:hover path {
  fill: #101010;
}

.serialsFunSaveBtnTG {
  width: 19px;
  height: 15px;
  object-fit: contain;
}

.serialsFunSaveBtnVK {
  width: 20px;
  height: 12px;
  object-fit: contain;
}

.serialsFunSaveBtnFav {
  width: 13px;
  height: 15px;
  object-fit: contain;
}

.serialsFunSaveBtnTG path,
.serialsFunSaveBtnVK path,
.serialsFunSaveBtnFav path {
  fill:#FF1292;
}

.serialsFunSaveBtnTG:hover path {
  width: 19px;
  height: 15px;
  object-fit: contain;
}

.serialsFunContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-left: 21px;
  padding-right: 21px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.serialFun_newSerialsBlock {
  margin-bottom: 20px;
}

.serialFun_title {
  color: #FFF;
  text-align: center;
  font-family: Bebas Neue, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2.52px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.serialFun_newSerialsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.serialFun_newSerialsContainerImage {
  width: 215px;
  height: 132px;
  object-fit: cover;
  margin-right: 40px;
}

.serialFun_newSerialsContainerTextBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.serialFun_newSerialsContainerTitle {
  color: #BDBDBD;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.serialFun_newSerialsContainerSubTitle {
  color: #BDBDBD;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.serialFun_listOfSerialsBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.serialFun_listOfSerialsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(143px, 230px));
  grid-row-gap: 40px;
  grid-column-gap: 20px;
}

.serialFun_listOfSerialsItem {
  /*width: 230px;*/
  /*height: 133px;*/
  position: relative;
}

.serialFun_listOfSerialsItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serialFun_listOfSerialsItemText {
  position: absolute;
  color: #F2F2F2;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  bottom: 5.81px;
  left: 11px;
}

.serialFun_installAppBlock {
  margin-bottom: 40px;
}

.serialFun_Subtitle {
  color: #FFF;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.serialFun_installAppBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.serialFun_installAppTG {
  width: 23%;
  height: 35px;
  border: 1px solid #FF1292;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.serialFun_installAppTG:hover,
.serialFun_installAppVK:hover,
.serialFun_installAppFav:hover {
  background: #FF1292;
}

.serialFun_installAppTG:hover path,
.serialFun_installAppVK:hover path,
.serialFun_installAppFav:hover path {
  fill: #101010;
}

.serialFun_installAppTGIcon path,
.serialFun_installAppVK path,
.serialFun_installAppFavIcon path {
  fill: #FF1292;
}

.serialFun_installAppTG:hover .serialFun_installAppBtnText,
.serialFun_installAppVK:hover .serialFun_installAppBtnText,
.serialFun_installAppFav:hover .serialFun_installAppBtnText {
  color: #101010;
}

.serialFun_installAppVK {
  width: 23%;
  height: 35px;
  border: 1px solid #FF1292;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}


.serialFun_installAppFav {
  width: 50%;
  height: 35px;
  border: 1px solid #FF1292;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.serialFun_installAppBtnText {
  color: #FF1292;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}


.serialFun_installAppSaveBtn {
  width: 100%;
  height: 35px;
  background: #FF1292;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
}

.serialFun_installAppSaveBtnText {
  color: #101010;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.serialsFun-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.serialsFun-carousel {
  display: flex;
  transition: transform 0.3s;
}

.serialsFun-carousel-item {
  flex: 0 0 calc(215px + 40px);
  text-align: center;
  box-sizing: border-box;
}

.serialsFun-carousel-item:last-child {
  flex: 0 0 215px;
  text-align: center;
  box-sizing: border-box;
}


.serialsFun-carousel img {
  max-width: 100%;
  height: 132px; /* Высота картинки */
}

.serialsFun-carousel-button {
  width: 34px;
  height: 57px;
  background-color: #101010;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 37px;
}

.serialsFun-carousel-button:hover {
  background-color: #555;
}

.serialsFun-carousel-button_icon {
  width: 9.23px;
  height: 15px;
  object-fit: contain;
}

.serialsFun-prev-button {
  left: 0;
}

.serialsFun-next-button {
  right: 0;
}

.serialsFun-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
}

.serialsFun-modal-content {
  background-color: #181818;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 39px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 460px;
  height: 191.247px;
}

.serialsFun-close-btn {
  position: absolute;
  top: -65px;
  left: 212px;
  cursor: pointer;
  width: 37px;
  height: 37px;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serialsFun-close-icon {
  width: 13px;
  height: 13px;
  object-fit: cover;
}

.serialsFun-modal-title {
  color: #FFF;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.serialsFun-modal-title span {
  color: #FF1292;
}

.serialsFun-modal-submit-btn {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background: #FF1292;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.serialsFun-modal-submit-btnText {
  color: #101010;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
